<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/admin/css/style.css">
    <!-- Css For Table -->
    <link rel="stylesheet" href="/assets/admin/css/addons/datatables.min.css">



    <title>SpinAndGoGo.com - Admin - Utilisateurs</title>
</head>
<body>



<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5 position-fixed" style="width: 300px !important;">

            <ul class="list-unstyled components mb-5 mt-5">
                <li>
                    <a href="{{ path('admin_home') }}" aria-expanded="false"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                </li>
                <li class="active">
                    <a href="{{ path('admin_users') }}"><i class="fa fa-user" aria-hidden="true"></i> Utilisateurs</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-gamepad" aria-hidden="true"></i> Salles Poker</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        {% for currentRoom in allRooms %}
                            <li>
                                <a href="{{ path('admin_room', { 'id' : currentRoom.id }) }}">{{ currentRoom.name }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="{{ path('admin_add_room_index') }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter une salle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('admin_newsletter') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i> Newsletter</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i> Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 position-relative">

        <button type="button" id="sidebarCollapse" class="btn btn-transparent" style="position: fixed; left: 10px; top: 8px">
            <i class="fa fa-bars text-warning col-form-label-lg"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>

        <h2 class="mb-4 mt-5">Vous êtes sur l'administration de SpinAndGoGo.com</h2>

        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Nom / Prénom
                    </th>
                    <th class="th-sm">Ville
                    </th>
                    <th class="th-sm">Age
                    </th>
                    <th class="th-sm">Date de création
                    </th>
                    <th class="th-sm">Statut
                    </th>
                    <th class="th-sm">Action
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.lastname }} {{ user.firstname }}</td>
                    <td>A FAIRE</td>
                    <td>A FAIRE</td>
                    <td>{{ user.createdAt|date("d/m/Y") }}</td>
                    {% if user.active %}<td class="text-success">Activé</td>{% else %}<td class="text-danger">Non activé</td>{% endif %}
                    <td>$320,800</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>



    </div>
</div>



<script src="/assets/admin/js/jquery.min.js"></script>
<script src="/assets/admin/js/popper.js"></script>
<script src="/assets/admin/js/bootstrap.min.js"></script>
<script src="/assets/admin/js/main.js"></script>
<script type="text/javascript" src="/assets/admin/js/addons/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>


</body>
</html>