<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/admin/css/style.css">

    <title>SpinAndGoGo.com - Admin</title>
</head>
<body>



<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5 position-fixed" style="width: 300px !important;">

            <ul class="list-unstyled components mb-5 mt-5">
                <li>
                    <a href="{{ path('admin_home') }}" aria-expanded="false"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                </li>
                <li>
                    <a href="{{ path('admin_users') }}"><i class="fa fa-user" aria-hidden="true"></i> Utilisateurs</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-gamepad" aria-hidden="true"></i> Salles Poker</a>
                    <ul class="collapse show list-unstyled" id="pageSubmenu">
                        {% for currentRoom in allRooms %}
                            <li {% if currentRoom.id == room.id %}class="active"{% endif %}>
                                <a href="{{ path('admin_room', { 'id' : currentRoom.id }) }}">{{ currentRoom.name }}</a>
                            </li>
                        {% endfor %}

                        <li>
                            <a href="{{ path('admin_add_room_index') }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter une salle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('admin_newsletter') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i> Newsletter</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i> Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 position-relative">

        <button type="button" id="sidebarCollapse" class="btn btn-transparent" style="position: fixed; left: 10px; top: 8px">
            <i class="fa fa-bars text-warning col-form-label-lg"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>

        <h2 class="mb-4 mt-5 border border-dark rounded text-center p-3">Administration de la salle <span class="text-warning">{{ room.name }}</span></h2>
        <h5 class="mb-4 mt-5 border border-dark rounded text-center p-3">Multiplicateurs de la salle :
            {% for multiplicator in multiplicators %}
            <div class="dropdown d-inline-block">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    X{{ multiplicator.value }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">{{ multiplicator.value }}</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            {% endfor %}
        </h5>
        <div class="border border-dark rounded text-center p-3">
            <h5 class="mb-4">Ajouter un multiplicateur :</h5>
            <div>
                {{ form_start(formMultiplicator) }}
                {{ form_row(formMultiplicator.value) }}
                <button class="btn btn-warning" type="submit">Créer</button>
                {{ form_end(formMultiplicator) }}
            </div>
        </div>

            <div>

        </div>

    </div>
</div>



<script src="/assets/admin/js/jquery.min.js"></script>
<script src="/assets/admin/js/popper.js"></script>
<script src="/assets/admin/js/bootstrap.min.js"></script>
<script src="/assets/admin/js/main.js"></script>

</body>
</html>