<!DOCTYPE html>
<!--
Template Name: Midone - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="/assets/user/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Midone admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Dashboard - Midone - Tailwind HTML Admin Template</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/assets/user/css/app.css" />
    <link rel="stylesheet" href="/assets/user/css/cardAddRoom.css" />
    <link rel="stylesheet" href="/assets/user/css/button.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="app">
<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="" class="flex mr-auto">
            <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="/assets/user/images/logo.svg">
        </a>
        <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
    </div>
    <ul class="border-t border-theme-24 py-5 hidden">
        <li>
            <a href="{{ path('user_home') }}" class="menu menu--active">
                <div class="menu__icon"> <i data-feather="home"></i> </div>
                <div class="menu__title"> Acceuil </div>
            </a>
        </li>
        <li>
            <a href="{{ path('user_add_game') }}" class="menu">
                <div class="menu__icon"> <i data-feather="home"></i> </div>
                <div class="menu__title"> Ajouter une partie </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="box"></i> </div>
                <div class="menu__title"> Mes parties <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="{{ path('user_all_games') }}" class="menu">
                        <div class="menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="menu__title"> Toutes les salles </div>
                    </a>
                </li>
                {% for room in rooms %}
                    <li>
                        <a href="simple-menu-dashboard.html" class="menu">
                            <div class="menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="menu__title"> {{ room.name }} </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<!-- END: Mobile Menu -->
<!-- BEGIN: Top Bar -->
<div class="border-b border-theme-24 -mt-10 md:-mt-5 -mx-3 sm:-mx-8 px-3 sm:px-8 pt-3 md:pt-0 mb-10">
    <div class="top-bar-boxed flex items-center">
        <!-- BEGIN: Logo -->
        <a href="{{ path('home') }}" class="-intro-x hidden md:flex">
            <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="/assets/user/images/logo.svg">
            <span class="text-white text-lg ml-3"> SpinAnd<span class="font-medium">GoGo</span>.fr </span>
        </a>
        <!-- END: Logo -->
        <!-- BEGIN: Breadcrumb -->
        <div class="-intro-x breadcrumb breadcrumb--light mr-auto">
            <span class="text-white text-lg ml-3"> Bienvenue <span class="font-medium">{{ app.user.firstname }}</span> </span>
        </div>
        <!-- END: Breadcrumb -->

        <!-- BEGIN: Account Menu -->
        <div class="intro-x dropdown w-8 h-8 relative">
            <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110">
                <i data-feather="user" style="color: white"></i>
            </div>
            <div class="dropdown-box mt-10 absolute w-56 top-0 right-0 z-20">
                <div class="dropdown-box__content box bg-theme-38 dark:bg-dark-6 text-white">
                    <div class="p-4 border-b border-theme-40 dark:border-dark-3">
                        <div class="font-medium">{{ app.user.lastname }} {{ app.user.firstname }}</div>
                        <div class="text-xs text-theme-41 dark:text-gray-600">Statut : Utilisateur</div>
                    </div>
                    <div class="p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"> <i data-feather="user" class="w-4 h-4 mr-2"></i> Mon compte </a>
                        <a href="/logout" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"> <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i> Déconnexion </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Account Menu -->
    </div>
</div>
<!-- END: Top Bar -->
<!-- BEGIN: Top Menu -->
<nav class="top-nav">
    <ul>
        <li>
            <a href="{{ path('user_home') }}" class="top-menu">
                <div class="top-menu__icon"> <i data-feather="home"></i> </div>
                <div class="top-menu__title"> Acceuil </div>
            </a>
        </li>
        <li>
            <a href="{{ path('user_add_game') }}" class="top-menu top-menu--active">
                <div class="top-menu__icon"> <i data-feather="home"></i> </div>
                <div class="top-menu__title"> Ajouter une partie </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="top-menu">
                <div class="top-menu__icon"> <i data-feather="hard-drive"></i> </div>
                <div class="top-menu__title"> Mes parties <i data-feather="chevron-down" class="top-menu__sub-icon"></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="{{ path('user_all_games') }}" class="top-menu">
                        <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="top-menu__title"> Toutes les salles </div>
                    </a>
                </li>
                {% for room in rooms %}
                    <li>
                        <a href="top-menu-chart.html" class="top-menu">
                            <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="top-menu__title"> {{ room.name }} </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>
<!-- END: Top Menu -->
<!-- BEGIN: Content -->
<div class="content">

    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">
                <div class="grid grid-cols-12 gap-6 mt-5">

                    <div class="col-span-12 sm:col-span-3 xl:col-span-4 intro-y"></div>
                    <!-- ADD A GAME >>>>>> -->
                    <div id="blockAddGame" class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y animate__animated" style="display: none">
                       <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="text-center">
                                    <div id="directiveAddGame" class="text-3xl font-bold leading-8">Ajouter une partie<i class="float-right" data-feather="mouse-pointer"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ROOMS ???? -->
                    <div id="blockAddGameRoom" class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y animate__animated" style="display: block">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="text-center">
                                    <div id="directiveAddGame" class="tooltip text-3xl font-bold leading-8" title="This is awesome tooltip example!">Sur quelle salle ajouter une partie ?</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blockRooms" class="col-span-12 intro-y animate__animated" style="display: block">
                            <div class="center d-flex flex-wrap">
                                {% for room in rooms %}
                                <div class="property-card ml-1 mr-1">
                                    <a onclick="addRoom({{ room.id }})" href="#">
                                        <div class="property-image" style="background-image:url('/assets/logosRooms/{{ room.logo }}');">
                                        </div></a>
                                    <div class="property-description">
                                        <h5> {{ room.name}} </h5>
                                        <p>{{ room.nameSpinAndGo }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                    </div>

                    <!-- BUY IN OF ROOM ???? -->
                    <div id="blockAddBuyIn" class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y animate__animated" style="display: none">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="text-center">
                                    <div id="directiveAddGame" class="text-3xl font-bold leading-8">Quel Buy In ? (prix du Spin And Go)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blockBuyIn" class="col-span-12 intro-y animate__animated" style="display: none">
                        <div class="center d-flex flex-wrap justify">
                            <!-- LOOP BUY IN  --- MEMO = add : onclick="addRoom(buyInId) -->
                            <div id="buyButtons" class="multi-button">
                                <!-- Buttons of buy ins -->
                            </div>
                            <!-- END LOOP BUY IN -->
                        </div>
                    </div>

                    <!-- MULTIPLICATOR OF BUY IN ???? -->
                    <div id="blockAddMultiplicator" class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y animate__animated" style="display: none">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="text-center">
                                    <div id="directiveAddGame" class="text-3xl font-bold leading-8">Quel multiplicateur ?</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blockMultiplicator" class="col-span-12 intro-y animate__animated" style="display: none">
                        <div class="center d-flex flex-wrap justify">
                            <!-- LOOP BUY IN  --- MEMO = add : onclick="addRoom(multiplicatorId) -->
                            <div id="multiplicatorButtons" class="multi-button">
                                <!-- Buttons of buy ins -->
                            </div>
                            <!-- END LOOP BUY IN -->
                        </div>
                    </div>

                    <!-- RANKED OF MULTIPLICATOR ???? -->
                    <div id="blockAddRanked" class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y animate__animated" style="display: none">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="text-center">
                                    <div id="directiveAddGame" class="text-3xl font-bold leading-8">A quelle position as-tu terminé ?</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blockRanked" class="col-span-12 intro-y animate__animated" style="display: none">
                        <div class="center d-flex flex-wrap justify">
                            <!-- LOOP BUY IN  --- MEMO = add : onclick="addRoom(multiplicatorId) -->
                            <div id="rankedButtons" class="multi-button">
                                <!-- Buttons of buy ins -->
                            </div>
                            <!-- END LOOP BUY IN -->
                        </div>
                    </div>

                    <!-- CONFIRM ADD GAME -->
                    <div id="blockConfirmAddGame" class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y animate__animated" style="display: none">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="text-center">
                                    <div id="directiveAddGame" class="text-3xl font-bold leading-8" style="color: #1C440C">La partie a bien été enregistrée</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blockConfirmAddGameButton" class="col-span-12 intro-y animate__animated mt-4" style="display: none">
                        <div class="center d-flex flex-wrap justify">
                            <!-- LOOP BUY IN  --- MEMO = add : onclick="addRoom(multiplicatorId) -->
                            <div id="rankedButtons" class="multi-button">
                                <a href="{{ path('user_add_game') }}"><button class="paste">Ajouter une autre partie</button></a>
                            </div>
                            <!-- END LOOP BUY IN -->
                        </div>
                    </div>


                    <div class="col-span-12 sm:col-span-3 xl:col-span-4"></div>

                </div>

            </div>
            <!-- END: General Report -->
        </div>
    </div>
</div>
<!-- END: Content -->
<!-- BEGIN: JS Assets-->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="/assets/ajax.js"></script>
<script src="/assets/user/js/app.js"></script>
<script src="/assets/user/js/addGame.js"></script>
<!-- END: JS Assets-->
</body>
</html>